* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.home {
  height: 100%;
  padding-top: 45vh;
  overflow: hidden;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  background: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0.8)), to(rgba(0, 0, 0, 0.2))), url("/shoot/DSC_0241.jpg") center top;
  background: linear-gradient(to right, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.2)), url("/shoot/DSC_0241.jpg") center top;
  background-size: cover;
}

.home__name {
  font-size: 3rem;
  padding-bottom: 0.2rem;
  margin-bottom: 0.3rem;
  border-bottom: 3px solid white;
}

.home__name--last {
  color: #ff9a01;
  font-weight: 600;
}

.home footer {
  -webkit-transform: translate(-1rem, -0.5rem);
          transform: translate(-1rem, -0.5rem);
}

.menu-btn {
  position: absolute;
  z-index: 1;
  right: 1rem;
  top: 1rem;
  height: 20px;
  width: 20px;
  cursor: pointer;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.menu-btn__burger {
  position: absolute;
  right: 0px;
  top: 0.5rem;
  width: 25px;
  height: 3px;
  background: white;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.menu-btn__burger::before {
  content: '';
  position: absolute;
  top: 6px;
  width: 25px;
  height: 3px;
  background: white;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.menu-btn__burger::after {
  content: '';
  position: absolute;
  top: 12px;
  width: 25px;
  height: 3px;
  background: white;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.menu-btn__burger.open {
  -webkit-transform: rotate(720deg);
          transform: rotate(720deg);
  background: transparent;
}

.menu-btn__burger.open::before {
  -webkit-transform: rotate(-45deg) translate(-3.8px, 4.3px);
          transform: rotate(-45deg) translate(-3.8px, 4.3px);
}

.menu-btn__burger.open::after {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  opacity: 0.93;
  visibility: hidden;
}

.nav.open {
  visibility: visible;
}

.nav .menu-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100vh;
  overflow: hidden;
  background: black;
  list-style-type: none;
  padding-right: 0.5rem;
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.nav .menu-nav.open {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.nav .menu-nav__item {
  -webkit-transform: translateX(100vw);
          transform: translateX(100vw);
  -webkit-transition: all 1.1s ease-in-out;
  transition: all 1.1s ease-in-out;
}

.nav .menu-nav__item.open {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.nav .menu-nav__item.active > a {
  color: #ff9a01;
}

.nav .menu-nav__link {
  display: block;
  font-size: 2rem;
  text-transform: uppercase;
  padding: 0.5rem;
  font-weight: 500;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.nav .menu-nav__link:hover {
  color: #ff9a01;
}

.menu-nav__item:nth-child(1) {
  -webkit-transition-delay: 0.25s;
          transition-delay: 0.25s;
}

.menu-nav__item:nth-child(2) {
  -webkit-transition-delay: 0.35s;
          transition-delay: 0.35s;
}

.menu-nav__item:nth-child(3) {
  -webkit-transition-delay: 0.45s;
          transition-delay: 0.45s;
}

.menu-nav__item:nth-child(4) {
  -webkit-transition-delay: 0.55s;
          transition-delay: 0.55s;
}

.about {
  padding-bottom: 2rem;
}

.about__bio-image {
  height: 60vh;
  width: 100%;
  background: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0.8)), to(rgba(0, 0, 0, 0.2))), url("/shoot/biology.jpeg");
  background: linear-gradient(to right, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.2)), url("/shoot/biology.jpeg");
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.about__bio-image p {
  margin-bottom: 1rem;
}

.about__bio {
  width: 80%;
  text-align: center;
}

.about__bio .text-secondary {
  padding-bottom: 1rem;
}

.about .jobs {
  width: 60vw;
  margin: 2rem auto 0 auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  grid-gap: 2rem;
}

.about .jobs__job {
  background: #333333;
  padding: 0.5rem;
  border-bottom: 5px solid #ff9a01;
}

.about .jobs__job h2, .about .jobs__job h3 {
  margin: 0.5rem 0;
}

.about .jobs__job h6 {
  margin: 0.3rem 0;
  text-align: center;
  font-size: 1rem;
  font-weight: 600;
  font-family: 'Times New Roman', Times, serif;
  padding: 1px;
}

.about .jobs__job h6::after {
  content: '';
  display: block;
  margin: 0 auto;
  width: 90%;
  border-bottom: 2px solid #ff9a01;
}

.about .social-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.about footer {
  -webkit-transform: rotate(90deg) translate(-4rem, -4rem);
          transform: rotate(90deg) translate(-4rem, -4rem);
}

.projects {
  padding-bottom: 2rem;
}

.projects__bio-image {
  height: 45vh;
  width: 100%;
  background: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0.8)), to(rgba(0, 0, 0, 0.2))), url("/shoot/backie.jpeg");
  background: linear-gradient(to right, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.2)), url("/shoot/backie.jpeg");
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.projects__bio-image .text-secondary {
  font-size: 1rem;
  margin-bottom: 1rem;
  font-size: 1.5rem;
}

.projects .projects__items {
  width: 60vw;
  margin: 2rem auto 0 auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  grid-gap: 1rem;
}

.projects__btns {
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  z-index: 1;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[1];
      grid-template-columns: repeat(1, 1fr);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.projects__btns p {
  position: absolute;
  top: 0.5%;
  background-color: black;
  width: 100%;
  text-align: center;
}

.projects__btn {
  opacity: 0;
  color: white;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.projects__btn:hover {
  color: black;
}

.project__item {
  position: relative;
  border-bottom: 5px solid #ff9a01;
  overflow: hidden;
  cursor: pointer;
  margin-bottom: 1rem;
}

.project__item img {
  width: 100%;
}

.project__item::after {
  content: '';
  position: absolute;
  top: 100%;
  left: 0;
  height: 100%;
  width: 100%;
  background: #ff9a01;
  opacity: 0;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.project__item:hover::after {
  top: 0;
  opacity: 0.9;
}

.project__item:hover .projects__btn {
  opacity: 1;
}

.social-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

footer {
  -webkit-transform: rotate(90deg) translate(-4rem, -4rem);
          transform: rotate(90deg) translate(-4rem, -4rem);
}

.contact {
  height: 100%;
  padding-top: 20vh;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0.8)), to(rgba(0, 0, 0, 0.2))), url("/shoot/DSC_0241.jpg") center top;
  background: linear-gradient(to right, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.2)), url("/shoot/DSC_0241.jpg") center top;
  background-size: cover;
}

.contact h2 {
  font-size: 3rem;
  margin: 2rem;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  text-align: left;
}

.contact h4 {
  margin: 1rem;
  text-align: center;
  font-family: 'Times New Roman', Times, serif;
  font-style: italic;
}

.contact__val {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  grid-gap: 2rem;
  font-size: 1.5 rem;
}

.contact .social-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  position: initial;
  margin-top: 1rem;
}

.contact footer {
  -webkit-transform: rotate(0deg) translate(0.8rem, -5rem);
          transform: rotate(0deg) translate(0.8rem, -5rem);
  display: block;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  position: initial;
  margin-top: 12rem;
}

@media screen and (min-width: 760px) {
  .menu-btn {
    visibility: hidden;
  }
  .nav {
    visibility: visible;
    background-color: #464646;
    opacity: 0.95;
  }
  .nav .menu-nav {
    display: block;
    -webkit-transform: translateY(0);
            transform: translateY(0);
    height: 100%;
    background: transparent;
    text-align: center;
    margin: 1.5rem;
  }
  .nav .menu-nav__item {
    display: inline;
    padding-right: 1.5rem;
  }
  .nav .menu-nav__link {
    display: inline;
    font-size: 1.5rem;
  }
  .about__bio {
    font-size: 1.3rem;
  }
  .projects__bio-image {
    height: 73vh;
    background: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0.8)), to(rgba(0, 0, 0, 0.2))), url("/shoot/backie.jpeg");
    background: linear-gradient(to right, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.2)), url("/shoot/backie.jpeg");
    background-size: cover;
  }
  .projects__bio-image .text-secondary {
    font-size: 3rem;
  }
  .projects .projects__items {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
  .contact__val {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 1024px) {
  .home {
    padding-top: 30vh;
    background: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0.8)), to(rgba(0, 0, 0, 0.2))), url("/shoot/DSC_0338.JPG") center top;
    background: linear-gradient(to right, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.2)), url("/shoot/DSC_0338.JPG") center top;
    background-size: cover;
  }
  .projects .projects__items {
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
  }
  .contact {
    padding-top: 50vh;
    background: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0.8)), to(rgba(0, 0, 0, 0.2))), url("/shoot/DSC_0324.JPG");
    background: linear-gradient(to right, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.2)), url("/shoot/DSC_0324.JPG");
    background-size: cover;
  }
  .contact__val {
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (min-width: 1600px) {
  .projects__bio-image {
    height: 70vh;
  }
}

.blogs {
  padding-bottom: 2rem;
}

.blogs__blog-image {
  height: 50vh;
  width: 100%;
  background: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0.8)), to(rgba(0, 0, 0, 0.2))), url("/shoot/art.jpeg");
  background: linear-gradient(to right, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.2)), url("/shoot/art.jpeg");
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.blogs__blog-image p {
  margin-bottom: 1rem;
}

.blogs__bio {
  width: 80%;
  text-align: center;
}

.blogs__bio .text-secondary {
  padding-bottom: 1rem;
}

.blogs .jobs {
  width: 60vw;
  margin: 2rem auto 0 auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  grid-gap: 2rem;
}

.blogs .jobs__blog {
  background: #333333;
  padding: 0.5rem;
  border-bottom: 5px solid #ff9a01;
  cursor: pointer;
}

.blogs .jobs__blog h2, .blogs .jobs__blog h3 {
  margin: 0.5rem 0;
}

.blogs .jobs__blog h6 {
  margin: 0.3rem 0;
  text-align: center;
  font-size: 1rem;
  font-weight: 600;
  font-family: 'Times New Roman', Times, serif;
  border-bottom: 2px solid #ff9a01;
  padding: 1px;
}

.blogs .jobs__blog::after {
  content: '';
  position: absolute;
  top: 100%;
  left: 0;
  height: 100%;
  width: 100%;
  background: #ff9a01;
  opacity: 0;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.blogs .jobs__blog:hover {
  opacity: 0.6;
}

.blogs .jobs__blog:hover .blogs__btn {
  opacity: 1;
  color: lime;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.blogs .social-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.blogs footer {
  -webkit-transform: rotate(90deg) translate(-4rem, -4rem);
          transform: rotate(90deg) translate(-4rem, -4rem);
}

.blogs__btns {
  margin: 0.5rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1, 1fr;
      grid-template-columns: 1, 1fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

body {
  background: black;
  color: white;
  height: 100vh;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1;
}

.text-secondary {
  color: #ff9a01;
}

h1, h2, h3 {
  font-weight: 400;
}

a {
  color: white;
  text-decoration: none;
}

header {
  position: fixed;
  z-index: 2;
  width: 100%;
  padding: 1rem;
}

main {
  height: 100%;
  width: 100%;
}

main .social-icons {
  position: fixed;
  bottom: 1rem;
  left: 1rem;
}

main a {
  padding: 0.4rem;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

main a:hover {
  color: #ff9a01;
}

footer {
  font-size: 1rem;
  position: fixed;
  bottom: 0.4rem;
  right: 1px;
  text-align: right;
  color: white;
}
/*# sourceMappingURL=index.css.map */